// variables.less
// --------------------------------------------------
/* media query break points */

@mq-xxl: 120em; /* 1920px */
@mq-xl: 80em; /* 1280px  */
@mq-l: 64em; /* 1024px */
@mq-m: 46.8em; /* 748px */
@mq-s: 30em;  /* 480px */
@mq-xs: 22em; /* 352px */
@mq-xxs: 20em; /* 320px */

// --------------------------------------------------
/* structure */
@padding: 1em;
@padding-xxl: 1em;
@padding-xl: 1em;
@padding-l: 1em;
@padding-m: 1em;
@padding-s: .8em;
@padding-xs: .8em;
@padding-xxs: .8em;

@margin: 1em;
@margin-xxl: 1em;
@margin-xl: 1em;
@margin-l: 1em;
@margin-m: 1em;
@margin-s: .8em;
@margin-xs: .8em;
@margin-xxs: .8em;

@gutter: 2em;
@gutter-xxl: 4em;
@gutter-xl: 4em;
@gutter-l: 4em;
@gutter-m: 4em;
@gutter-s: 2em;
@gutter-xs: 1em;
@gutter-xxs: 1em;

@container-xxl: 80em;
@container-xl: @mq-xl - (2 * @gutter-xl);
@container-l: @mq-l - (2 * @gutter-l);
@container-m: ~"calc(100% - (2 * @{gutter-m}))";
@container-s: ~"calc(100% - (2 * @{gutter-s}))";
@container-xs: ~"calc(100% - 2 * @{gutter-xs})";
@container-xxs: ~"calc(100% - 2 * @{gutter-xxs})";

@border-radius: 0px;

@import "variables/typography.less";
@import "variables/color.less";
@import "variables/components.less";

@import "variables/custom.less";
