// variables.less
// --------------------------------------------------
/* media query break points */

@mq_xxl: 120em; /* 1920px */
@mq_xl: 80em; /* 1280px  */
@mq_l: 64em; /* 1024px */
@mq_m: 46.8em; /* 748px */
@mq_s: 30em;  /* 480px */
@mq_xs: 22em; /* 352px */
@mq_xxs: 20em; /* 320px */

// --------------------------------------------------
/* colors */

@color-black: #000;
@color-white: #fff;
@color-base: #000;
@color-gray: lighten(@color-base, 33.5%);
@color-gray-lt: lighten(@color-base, 93.5%);
@color-gray-dk: lighten(@color-base, 20%);
@color-bg: @color-white;
@color-primary: #00f;
@color-secondary: #f00;
@color-tertiary: #0f0;

// --------------------------------------------------

@max_width: 1000px;
@padding: 1em;
@margin: 1em;
