// variables.less
// --------------------------------------------------
/* media query break points */

@mq-xxl: 120em; /* 1920px */
@mq-xl: 80em; /* 1280px  */
@mq-l: 64em; /* 1024px */
@mq-m: 46.8em; /* 748px */
@mq-s: 30em;  /* 480px */
@mq-xs: 22em; /* 352px */
@mq-xxs: 20em; /* 320px */

// --------------------------------------------------
/* structure */
@padding: 1em;
@padding-xxl: 1em;
@padding-xl: 1em;
@padding-l: 1em;
@padding-m: 1em;
@padding-s: .8em;
@padding-xs: .8em;
@padding-xxs: .8em;

@margin: 1em;
@margin-xxl: 1em;
@margin-xl: 1em;
@margin-l: 1em;
@margin-m: 1em;
@margin-s: .8em;
@margin-xs: .8em;
@margin-xxs: .8em;

@gutter: 2em;
@gutter-xxl: 2em;
@gutter-xl: 2em;
@gutter-l: 2em;
@gutter-m: 2em;
@gutter-s: 1.4em;
@gutter-xs: 1.4em;
@gutter-xxs: 1.4em;

@container-xxl: 80em;
@container-xl: @mq-xl - 2 * @gutter-xl;
@container-l: @mq-l - 2 * @gutter-l;
@container-m: 100% - 2 * @gutter-m;
@container-s: 100% - 2 * @gutter-s;
@container-xs: 100% - 2 * @gutter-xs;
@container-xxs: 100% - 2 * @gutter-xxs;

// --------------------------------------------------
/* typography */
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@font-size-large: ceil((@font-size-base * 1.25));
@font-size-small: ceil((@font-size-base * 0.85));
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h2: floor((@font-size-base * 2.15));
@font-size-h3: ceil((@font-size-base * 1.7));
@font-size-h4: ceil((@font-size-base * 1.25));
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85));
@font-size-blockquote: @font-size-base;
@line-height-base: 1.4;
@line-height-computed: floor((@font-size-base * @line-height-base));
@headings-font-family: inherit;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;

// --------------------------------------------------
/* colors */
@color-black: #000;
@color-white: #fff;
@color-base: #000;
@color-gray: lighten(@color-base, 33.5%);
@color-gray-lt: lighten(@color-base, 93.5%);
@color-gray-dk: lighten(@color-base, 20%);
@color-bg: @color-white;

@color-primary: #428bca;
@color-secondary: #f00;
@color-tertiary: #0f0;

@color-success: #5cb85c;
@color-info: #5bc0de;
@color-warning: #f00;
@color-danger: #f0ad4e;

@color-bg: @color-white;
@color-text: @color-gray-dk;
@color-link: @color-primary;
@color-link-hover: darken(@color-link, 15%);

@color-nav-text: #000;
@color-nav-link-hover-bg: #fff;
@color-nav-link-disabled: @color-gray-lt;

@color-abbr-border: #ccc;
@color-blockquote-border: #ccc;

// --------------------------------------------------

/* navbar */
@navbar-height: 50px;
@navbar-margin-bottom: 1em;

// --------------------------------------------------

/* buttons */
@btn-font-weight: inherit;
@btn-border-radius: 5px;
@btn-padding: .8em 1.2em;
@btn-text-decoration: none;
@btn-text-decoration-hover: none;
@btn-default-color: #333;
@btn-default-bg: @color-white;
@btn-default-border: @color-gray-lt;
@btn-primary-color: #fff;
@btn-primary-bg: @color-primary;

@btn-secondary-color: #fff;
@btn-secondary-bg: @color-secondary;

@btn-tertiary-color: #fff;
@btn-tertiary-bg: @color-tertiary;

@btn-success-color: #fff;
@btn-success-bg: @color-success;

@btn-info-color: #fff;
@btn-info-bg: @color-info;

@btn-warning-color: #fff;
@btn-warning-bg: @color-warning;

@btn-danger-color: #fff;
@btn-danger-bg: @color-danger;
