.container {
	margin: 0 auto;
	width: 100% - 2 * @margin;

	@media (min-width: @mq-xxl) {
		width: @container-xxl;
  	}

	@media (min-width: @mq-xl) and (max-width: @mq-xxl) {
		width: @container-xl;
	}

	@media (min-width: @mq-l) and (max-width: @mq-xl) {
		width: @container-l;
	}

	@media (min-width: @mq-m) and (max-width: @mq-l) {
		width: @container-m;
	}

	@media (min-width: @mq-s) and (max-width: @mq-m) {
		width: @container-s;
	}

	@media (min-width: @mq-xs) and (max-width: @mq-s) {
		width: @container-xs;
	}

	@media (min-width: @mq-xxs) and (max-width: @mq-xs) {
		width: @container-xxs;
	}
}

/* .responsive(gallery, {
    "mq-m": 12
    "mq-l": 4
    }); */

.gallery {
	.item {
	    .col-4;
		padding-bottom: 2em;

		img {
			width: 100%;
		}
	}

	@media only screen and (min-width: @mq-xxl) {
	    .item {
	        .col-2;
	    }
	}

	@media only screen and (min-width: @mq-xl) and (max-width: @mq-xxl) {
	    .item {
	        .col-3;
	    }
	}

	@media only screen and (min-width: @mq-s) and (max-width: @mq-m) {
	    .item {
	        .col-6;
	    }
	}

	@media only screen and (max-width: @mq-s) {
	    .item {
	        .col-12;
	    }
	}
}





/* ul#projects {
	&:extend(.rows);
} */


ul.tiles {
	.tiles
}

.rows {
	list-style-type: none;


	> li, .row {
		display: block;
		width: 100%;
		background-color: #fafafa;
		margin-bottom: @margin;

	}
}


.tiles {
	list-style-type: none;

	> li, .tile {
		background-color: #fafafa;
		width: ~"calc(33% - 20px)";
		float: left;
		margin: 10px;
	}
}

/* ul#projects {
	&:extend(.rows);
} */

/* ul.rows {
	&:extend(.rows);
} */

/* @import "mixins/grid.less";
.grid(grid-12; 12); */
