header.top {
    position: relative;
    min-height: @navbar-height;
    margin-bottom: @navbar-margin-bottom;
    border: 1px solid transparent;
    &:extend(.clearfix all);
    background-color: @color-gray-dk;
    color: @color-white;


    h1 {
        font-size: 20px;
        padding: 1em 0;
        margin: 0;
        line-height: 1;
        background-position: top left;
        .retina-2x('../img/logo.png', 20px, 20px);
    }

    a, a:visited, a:link {
        color: @color-white;

        &:hover {
            color: darken(@color-white, 10%);
        }
    }
}

#button {

}

.main {

}

footer {
    width: 100%;
    background-color: @color-gray-lt;
    padding: 1em 0;
    margin-top: 2em;

    a, a:visited, a:link {
        color: @color-gray;

        &:hover {
            color: darken(@color-gray, 20%);
        }
    }
}

ul.nav {
    list-style-type: none;
}
